# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/GUI Projects/MealManagement/nbproject/private/
/GUI Projects/MealManagement/build/
/GUI Projects/DBMeal/nbproject/private/
/USSL/Class 5/Aditta/Overloading2/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloading2/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloading2/build/
/USSL/Class 5/Aditta/MethodOverloadingDifferetNumberOfParameters/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloadingDifferetNumberOfParameters/build/
/USSL/Class 5/Aditta/MethodOverloadingDifferentInDataTypesOfParameters/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloadingDifferentInDataTypesOfParameters/build/
/USSL/Class 5/Aditta/MethodOverloadingSequenceOfDataTypeOfArguments/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloadingSequenceOfDataTypeOfArguments/build/
/USSL/Class 5/Aditta/MethodOverriding/nbproject/private/
/USSL/Class 5/Aditta/MethodOverriding2/nbproject/private/
/USSL/Class 5/Aditta/MethodOverriding2/build/
/USSL/Class 5/Aditta/AbstractClass/nbproject/private/
/USSL/Class 5/Aditta/AbstractClass/build/
/USSL/Class 5/Aditta/Abstract2/nbproject/private/
/USSL/Class 5/Aditta/Abstract2/build/
/USSL/Class 5/Aditta/Abstract3/nbproject/private/
/USSL/Class 5/Aditta/Abstract3/build/
/USSL/Class 5/Aditta/Interface/nbproject/private/
/USSL/Class 5/Aditta/Interface/build/
/USSL/Class 5/Aditta/Interface2/nbproject/private/
/USSL/Class 5/Aditta/Interface2/build/
/USSL/Class 5/Aditta/Interface3/nbproject/private/
/USSL/Class 5/Aditta/Interface3/build/
/USSL/Class 5/Aditta/MultipleInheritanceByInterface1/nbproject/private/
/USSL/Class 5/Aditta/MultipleInheritanceByInterface1/build/
/USSL/Class 5/Aditta/InterfaceInheritance/nbproject/private/
/USSL/Class 5/Aditta/InterfaceInheritance/build/
/USSL/Class 5/Aditta/Interface4/nbproject/private/
/USSL/Class 5/Aditta/Interface4/build/
/USSL/Class 4/Aditta/Review/nbproject/private/
/USSL/Class 2/Aditta/Practice/nbproject/private/
/USSL/Class 2/Aditta/Practice/build/
/USSL/Class 2/Aditta/Variable1/nbproject/private/
/USSL/Class 2/Aditta/Variable1/build/
/USSL/Class 2/Aditta/Static1/nbproject/private/
/USSL/Class 2/Aditta/Static1/build/
/USSL/Class 2/Aditta/NonStatic/nbproject/private/
/USSL/Class 2/Aditta/NonStatic/build/
/USSL/Class 2/Aditta/Static3/nbproject/private/
/USSL/Class 2/Aditta/Static3/build/
/USSL/Class 2/Aditta/Static4/nbproject/private/
/USSL/Class 2/Aditta/Static4/build/
/USSL/Class 2/Aditta/Static5/nbproject/private/
/USSL/Class 2/Aditta/Static5/build/
/USSL/Class 2/Aditta/WithoutThis1/nbproject/private/
/USSL/Class 2/Aditta/WithoutThis1/build/
/USSL/Class 2/Aditta/This2/nbproject/private/
/USSL/Class 2/Aditta/This2/build/
/USSL/Class 2/Aditta/WithoutThis3/nbproject/private/
/USSL/Class 2/Aditta/WithoutThis3/build/
/USSL/Class 2/Aditta/this4/nbproject/private/
/USSL/Class 2/Aditta/ThisMethod4/nbproject/private/
/USSL/Class 2/Aditta/ThisMethod4/build/
/USSL/Class 2/Aditta/ThisConstructor5/nbproject/private/
/USSL/Class 2/Aditta/ThisConstructor5/build/
/USSL/Class 2/Aditta/ThisConstractor6/nbproject/private/
/USSL/Class 2/Aditta/ThisConstractor6/build/
/USSL/Class 2/Aditta/ThisConstractor7/nbproject/private/
/USSL/Class 2/Aditta/ThisConstractor7/build/
/USSL/Class 2/Aditta/ThisConstractor8/nbproject/private/
/USSL/Class 2/Aditta/ThisInArgument/nbproject/private/
/USSL/Class 2/Aditta/ThisInArgument/build/
/USSL/Class 2/Aditta/ThisInArgument9/nbproject/private/
/USSL/Class 2/Aditta/ThisInArgument9/build/
/USSL/Class 2/Aditta/ThisInParameter/nbproject/private/
/USSL/Class 2/Aditta/ThisInParameter/build/
/USSL/Class 2/Aditta/ThisAsReturn10/nbproject/private/
/USSL/Class 2/Aditta/ThisAsReturn10/build/
/USSL/Class 2/Aditta/This11/nbproject/private/
/USSL/Class 2/Aditta/This11/build/
/USSL/Class 2/Aditta/MultipleClass/nbproject/private/
/USSL/Class 2/Aditta/MultipleClass/build/
/USSL/Class 2/Aditta/StringBufferVSStringBuilder/nbproject/private/
/USSL/Class 2/Aditta/StringBufferVSStringBuilder/build/
/USSL/Class 4/Aditta/Review/build/
/USSL/Class 4/Aditta/Inheritance1/nbproject/private/
/USSL/Class 4/Aditta/Inheritance1/build/
/USSL/Class 4/Aditta/Inheritance2/nbproject/private/
/USSL/Class 4/Aditta/Inheritance2/build/
/USSL/GUI Projects/MealManagement/dist/
/Extra/DB/nbproject/private/
/Extra/DB/build/
/USSL/Class 6/Aditta/WrapperClass1/nbproject/private/
/USSL/Class 6/Aditta/WrapperClass1/build/
/USSL/Class 6/Aditta/WrapperClass2/nbproject/private/
/USSL/Class 6/Aditta/WrapperClass2/build/
/USSL/Class 6/Aditta/WrapperClass3/nbproject/private/
/USSL/Class 6/Aditta/WrapperClass3/build/
/USSL/Class 6/Aditta/WrapperClass4/nbproject/private/
/USSL/Class 6/Aditta/WrapperClass4/build/
/USSL/Class 6/Aditta/PrimitiveToWrapper/nbproject/private/
/USSL/Class 6/Aditta/PrimitiveToWrapper/build/
/USSL/Class 6/Aditta/WrapperToPrimitive/nbproject/private/
/USSL/Class 6/Aditta/WrapperToPrimitive/build/
/Introduction To Java/Chapter 3/AdditionQuiz/nbproject/private/
/Introduction To Java/Chapter 3/AdditionQuiz/build/
/Introduction To Java/Chapter 3/SimpleIfDemo/nbproject/private/
/Introduction To Java/Chapter 3/SimpleIfDemo/build/
/Introduction To Java/Chapter 3/SubtractionQuiz/nbproject/private/
/Introduction To Java/Chapter 3/SubtractionQuiz/build/
/Introduction To Java/Chapter 3/ComputeAndInterpretBMI/nbproject/private/
/Introduction To Java/Chapter 3/ComputeAndInterpretBMI/build/
/Introduction To Java/Chapter 3/ComputeTax/nbproject/private/
/Introduction To Java/Chapter 3/ComputeTax/build/
/Introduction To Java/Chapter 3/TestBooleanOperators/nbproject/private/
/Introduction To Java/Chapter 3/TestBooleanOperators/build/
/Introduction To Java/Chapter 3/LeapYear/nbproject/private/
/Introduction To Java/Chapter 3/LeapYear/build/
/Introduction To Java/Chapter 3/Lottery/nbproject/private/
/Introduction To Java/Chapter 3/Lottery/build/
/Introduction To Java/Chapter 3/ChineseZodiac/nbproject/private/
/Introduction To Java/Chapter 3/ChineseZodiac/build/
/Introduction To Java/Chapter 5/RepeatAdditionQuiz/nbproject/private/
/Introduction To Java/Chapter 5/RepeatAdditionQuiz/build/
/Introduction To Java/Chapter 5/GuessNumberOneTime/nbproject/private/
/Introduction To Java/Chapter 5/GuessNumberOneTime/build/
/Introduction To Java/Chapter 5/GuessNumber/nbproject/private/
/Introduction To Java/Chapter 5/GuessNumber/build/
/Introduction To Java/Chapter 5/SubtractionQuizLoop/nbproject/private/
/Introduction To Java/Chapter 5/SubtractionQuizLoop/build/
/Introduction To Java/Chapter 5/SentinelValue/nbproject/private/
/Introduction To Java/Chapter 5/SentinelValue/build/
/Introduction To Java/Chapter 5/TestDoWhile/nbproject/private/
/Introduction To Java/Chapter 5/TestDoWhile/build/