# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/GUI Projects/MealManagement/nbproject/private/
/GUI Projects/MealManagement/build/
/GUI Projects/DBMeal/nbproject/private/
/USSL/Class 5/Aditta/Overloading2/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloading2/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloading2/build/
/USSL/Class 5/Aditta/MethodOverloadingDifferetNumberOfParameters/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloadingDifferetNumberOfParameters/build/
/USSL/Class 5/Aditta/MethodOverloadingDifferentInDataTypesOfParameters/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloadingDifferentInDataTypesOfParameters/build/
/USSL/Class 5/Aditta/MethodOverloadingSequenceOfDataTypeOfArguments/nbproject/private/
/USSL/Class 5/Aditta/MethodOverloadingSequenceOfDataTypeOfArguments/build/
/USSL/Class 5/Aditta/MethodOverriding/nbproject/private/
/USSL/Class 5/Aditta/MethodOverriding2/nbproject/private/
/USSL/Class 5/Aditta/MethodOverriding2/build/
/USSL/Class 5/Aditta/AbstractClass/nbproject/private/
/USSL/Class 5/Aditta/AbstractClass/build/
/USSL/Class 5/Aditta/Abstract2/nbproject/private/
/USSL/Class 5/Aditta/Abstract2/build/
/USSL/Class 5/Aditta/Abstract3/nbproject/private/
/USSL/Class 5/Aditta/Abstract3/build/
/USSL/Class 5/Aditta/Interface/nbproject/private/
/USSL/Class 5/Aditta/Interface/build/
/USSL/Class 5/Aditta/Interface2/nbproject/private/
/USSL/Class 5/Aditta/Interface2/build/
/USSL/Class 5/Aditta/Interface3/nbproject/private/
/USSL/Class 5/Aditta/Interface3/build/
/USSL/Class 5/Aditta/MultipleInheritanceByInterface1/nbproject/private/
/USSL/Class 5/Aditta/MultipleInheritanceByInterface1/build/
/USSL/Class 5/Aditta/InterfaceInheritance/nbproject/private/
/USSL/Class 5/Aditta/InterfaceInheritance/build/
/USSL/Class 5/Aditta/Interface4/nbproject/private/
/USSL/Class 5/Aditta/Interface4/build/
/USSL/Class 4/Aditta/Review/nbproject/private/
/USSL/Class 2/Aditta/Practice/nbproject/private/
/USSL/Class 2/Aditta/Practice/build/
/USSL/Class 2/Aditta/Variable1/nbproject/private/
/USSL/Class 2/Aditta/Variable1/build/
/USSL/Class 2/Aditta/Static1/nbproject/private/
/USSL/Class 2/Aditta/Static1/build/
/USSL/Class 2/Aditta/NonStatic/nbproject/private/
/USSL/Class 2/Aditta/NonStatic/build/
/USSL/Class 2/Aditta/Static3/nbproject/private/
/USSL/Class 2/Aditta/Static3/build/
/USSL/Class 2/Aditta/Static4/nbproject/private/
/USSL/Class 2/Aditta/Static4/build/
/USSL/Class 2/Aditta/Static5/nbproject/private/
/USSL/Class 2/Aditta/Static5/build/
/USSL/Class 2/Aditta/WithoutThis1/nbproject/private/
/USSL/Class 2/Aditta/WithoutThis1/build/
/USSL/Class 2/Aditta/This2/nbproject/private/
/USSL/Class 2/Aditta/This2/build/
/USSL/Class 2/Aditta/WithoutThis3/nbproject/private/
/USSL/Class 2/Aditta/WithoutThis3/build/
/USSL/Class 2/Aditta/this4/nbproject/private/
/USSL/Class 2/Aditta/ThisMethod4/nbproject/private/
/USSL/Class 2/Aditta/ThisMethod4/build/
/USSL/Class 2/Aditta/ThisConstructor5/nbproject/private/
/USSL/Class 2/Aditta/ThisConstructor5/build/
/USSL/Class 2/Aditta/ThisConstractor6/nbproject/private/
/USSL/Class 2/Aditta/ThisConstractor6/build/
/USSL/Class 2/Aditta/ThisConstractor7/nbproject/private/
/USSL/Class 2/Aditta/ThisConstractor7/build/
/USSL/Class 2/Aditta/ThisConstractor8/nbproject/private/
/USSL/Class 2/Aditta/ThisInArgument/nbproject/private/
/USSL/Class 2/Aditta/ThisInArgument/build/
/USSL/Class 2/Aditta/ThisInArgument9/nbproject/private/
/USSL/Class 2/Aditta/ThisInArgument9/build/
/USSL/Class 2/Aditta/ThisInParameter/nbproject/private/
/USSL/Class 2/Aditta/ThisInParameter/build/
/USSL/Class 2/Aditta/ThisAsReturn10/nbproject/private/
/USSL/Class 2/Aditta/ThisAsReturn10/build/
/USSL/Class 2/Aditta/This11/nbproject/private/
/USSL/Class 2/Aditta/This11/build/
/USSL/Class 2/Aditta/MultipleClass/nbproject/private/
/USSL/Class 2/Aditta/MultipleClass/build/